header.menu{
    height: 120px;
    width: 74.81vw;
    margin: 0 12.6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
header.menu div.title{
    display: flex;
}
header.menu div.menu{
    width: 35.17vw;
    display: flex;
    justify-content: space-between;
    font-family: ChaletComprime-CologneEighty;
}
header.menu div.title div.image{
    width: 53px;
    height: 61px;
    background: url(../menu/logo.png) no-repeat;
}

header.menu div.title div.text div.header{
    font-family: ChaletComprime-CologneEighty;
    text-transform: uppercase;
    font-size: 52px;
}
header.menu div.title div.text div.slogan{
    font-family: Proxima-Nova;
    font-size: 12px;
    font-weight: bold;
}
header.menu div.menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: #737373;
    font-size: 22px;
}
header.menu div.menu a:hover{
    color: #42b3e5;
}
